.searchBar {
  bottom 0
  height 10vh
  position absolute
  width 100%
  z-index 2
}

.searchBar.hidden {
  display none
}

.searchBar input {
  background-color #eee
  box-sizing border-box
  border none
  font-size 6vh
  height 100%
  margin 0
  padding 0 5px
  text-align center
  width 100%
}

.bespoke-slide.hidden {
  display none
}
