html
  font-family: Arial, sans-serif
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

li
  list-style none
  min-height var(--min-line-height)
  white-space nowrap
